#banner {
    background: url(../img/banner.svg) no-repeat center;
    background-size: cover;
}

.banner {
    height: calc(100vh - 500px);
    color: var(--body-text-color);
    font-family: var(--playfair-display);
    margin-top: 80px;
}

.banner__box {
    width: auto;
    padding-top: 4rem;
    gap: .5rem;
}

.banner__title {
    font-weight: bold;
    font-size: 1.25rem;
    text-shadow: 0px 2px 2px var(--first-color);
}

.banner__subtitle {
    font-size: .75rem;
    text-shadow: 0px 2px 2px var(--first-color);
}

@media (min-width: 500px) {
    .banner {
        height: calc(100vh - 420px);
    }

    .banner__box {
        padding-top: 8rem;
        gap: 1rem;
    }

    .banner__title {
        font-size: 2rem;
    }
    
    .banner__subtitle {
        font-size: 1rem;
    }
}

@media (min-width: 992px) {
    .banner {
        height: calc(100vh - 340px);
    }

    .banner__box {
        padding-top: 10rem;
        gap: 1.5rem;
    }

    .banner__title {
        font-size: 2.5rem;
    }
    
    .banner__subtitle {
        font-size: 1.5rem;
    }
}