.select__title {
    color: var(--second-dark-color);
    margin-bottom: 1rem;
}

.select__info {
    color: var(--second-color);
    margin-bottom: 1rem;
}

@media (min-width: 500px) {
    .select__title{
        margin-bottom: 1.5rem;
    }
    .select__info {
        margin-bottom: 1.5rem;
    }
    
}

@media (min-width: 992px) {    
    .select__title {
        font-size: 3rem;
        margin-bottom: 1.5rem;
    }
    .select__info {
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }
    
}