.button {
    display: block;
    border-radius: 1rem;
    text-align: center;
    cursor: pointer;
    font-family: var(--news-cycle);
    color: var(--blanco);
    box-shadow: var(--shadow-button);
}

.button:hover {
    box-shadow: var(--shadow-button-hover);
    transition: .5s;
}

.primary_button {
    width: 7rem;
    height: 2.5rem;
    font-size: .875rem;
}

.secondary_button {
    background-color: var(--first-dark-color);
    height: 3rem;
    width: 100%;
    align-self: center;
    font-size: .875rem;
}

.secondary_button:hover {
    background-color: var(--first-color);
}

.primary_button--alt {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--first-dark-color);
    width: 7rem;
    height: 2.5rem;
    font-size: .875rem;
}

.primary_button--alt:hover {
    background-color: var(--first-color); 
}


@media (min-width: 500px) {
    .primary_button--alt,
    .primary_button {
        width: 8rem;
    }

    .secondary_button {
        width: 80%;
    }
}

@media (min-width: 992px) {
    .primary_button--alt,
    .primary_button {
        width: 9rem;
    }

    .secondary_button {
        width: 90%;
    }
}