.footer {
    text-align: center;
    background-color: var(--second-light-color);
    color: var(--second-dark-color);
    font-size: .75rem;
    font-family: var(--playfair-display);
    font-weight: bold;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

@media (min-width: 420px) {
    .footer {
        font-size: .875rem;
    }
}

@media (min-width: 992px) {
    .footer {
        font-size: 1rem;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }
}